.photobooth {
  &__container {
    @extend %flex;

    @include screen--large {
      position: relative;
    }
  }

  &__text {
    @extend %flex;
    @extend %flex-column;

    margin-left: 6em;

    @include screen--large {
      margin-left: 0;
      max-width: 700px;
    }
  }

  &__img {
    height: 645px;
    -webkit-animation: photobooth 10s infinite ease-in-out;
    animation: photobooth 10s infinite ease-in-out;

    @include screen--large {
      position: absolute;
      opacity: 0.2;
    }

    @include screen--medium {
      display: none;
    }
  }

  &__header {
    -ms-flex-item-align: start;
    align-self: flex-start;

    @include screen--large {
      text-align: right;
    }

    @include screen--small {
      text-align: center;
    }
  }

  &__paragraph {
    margin-bottom: 4em;
    text-align: justify;
  }

  &__button {
    -ms-flex-item-align: center;
    align-self: center;
  }
}

@-webkit-keyframes photobooth {
  0% {
    @include transform(translateY(0));
  }
  50% {
    @include transform(translateY(20px));
  }
  100% {
    @include transform(translateY(0));
  }
}

@keyframes photobooth {
  0% {
    @include transform(translateY(0));
  }
  50% {
    @include transform(translateY(20px));
  }
  100% {
    @include transform(translateY(0));
  }
}
