.why {
  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    @include screen--large {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  &__tiles {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;

    @include screen--large {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      margin-top: 4em;
    }
  }

  &__text {
    width: 390px;
    margin-right: 2em;

    @include screen--large {
      width: 700px;
    }
  }

  &__header {
    margin-top: 0;
  }
}
