//COLORS

$primary-color: rgba(39, 39, 39, 0.8);
$secondary-color: white;
$bold-color: black;
$primary-accent: #dac27c;

//SIZES

$small: 1rem;
$medium: 1.25rem;
$large: 3.5rem;
$v-large: 4rem;

//FONTS
$karla: 'Karla', sans-serif;
$work-sans: 'Work Sans', sans-serif;

$bold: 700;

//MEDIA QUERIES
$screen--v-large: 1520px;
$screen--large: 1200px;
$screen--medium: 850px;
$screen--small: 550px;
$screen--v-small: 450px;
