.bar-btn {
  @extend %flex;
  @extend %flex-column;

  padding: 1em 0;
  margin: auto;

  @include screen--small {
    width: 50%;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &.active > .bar-btn__icon {
    fill: $primary-accent;
  }

  &__paragraph {
    margin-bottom: 0;
  }

  &__icon {
    height: 35px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover > .bar-btn__icon {
    fill: $primary-accent;
  }
}
