.overlay {
  @extend %absolute;
  @extend %flex;
  @extend %flex-justify;

  top: 0;
  right: 0;
  left: 0;
  height: 0;
  z-index: 10000;
  overflow-y: auto;
  background: $secondary-color;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &.active {
    height: 100%;
  }

  &__container {
    @extend %absolute;
    @extend %flex;
    @extend %flex-align;

    height: 100%;
    width: 100%;
    padding: 4em;
    min-height: 900px;

    &.show {
      z-index: 10000;

      .overlay {
        &__btn {
          @extend %full-opacity;
        }

        &__header {
          @extend %full-opacity;
          @include transform(translateY(0));
        }

        &__paragraph {
          @extend %full-opacity;
          @include transform(translateX(0));
        }

        &__image {
          @extend %full-opacity;
          @include transform(translateX(0));
        }
      }
    }

    &--centered {
      @extend %relative;
    }
  }

  &__header {
    @extend %no-opacity;
    @include transform(translateY(-100px));

    margin: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  &__image {
    @extend %no-opacity;
    @include transform(translateX(100px));

    height: 645px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  &__paragraph {
    @extend %no-opacity;
    @include transform(translateX(-100px));

    max-width: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  &__btn {
    @extend %absolute;
    @extend %shadow;
    @extend %no-opacity;

    right: 1em;
    top: 1em;
    background: none;
    font-size: 1.5em;
    border: none;
    color: $secondary-color;
    background: $primary-color;
    border-radius: 50%;
    padding: 0.4em 0.6em;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;

    &:hover {
      cursor: pointer;
      background: $primary-accent;
      -webkit-transition: background 0.2s ease-in-out;
      transition: background 0.2s ease-in-out;
    }
  }

  &__content-container {
    @extend %flex;
    @extend %flex-justify;

    margin-top: 4em;
  }
}

.nav-overlay {
  @extend %flex;
  @extend %flex-justify-align;

  position: fixed;
  height: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  overflow-y: auto;
  background: $secondary-color;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  &.active {
    height: 100%;
  }
}

.gallery-overlay {
  @extend %no-opacity;

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: $primary-color;
  padding: 4em;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  overflow-y: auto;
  height: 100%;

  &__container {
    @extend %relative;
    @extend %flex;
    @extend %flex-align;

    height: 100%;
  }

  &__photo {
    max-width: 100%;
  }

  &__close-btn {
    @extend %absolute;

    top: 0.01em;
    right: 0.1em;
    border: none;
    font-size: 3rem;
    color: $primary-color;
    padding: 0.3em;
    cursor: pointer;
    z-index: 99999;
    background: none;
  }

  &__btn {
    @extend %absolute;

    font-size: 6rem;
    border: none;
    height: 100%;
    background: none;
    color: $primary-color;
    margin: 0;
    padding: 0.3em;
    cursor: pointer;
    z-index: 9999;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  &.active {
    display: block;
    z-index: 999;

    &.show {
      @extend %full-opacity;

      -webkit-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
