@import './../abstracts/variables';

.paragraph-basic {
  color: $primary-color;
  font-size: $small;
  line-height: 30px;
}

.paragraph-basic--medium {
  font-size: $medium;
}

.header-font {
  font-family: $work-sans;
  font-weight: $bold;
  color: $bold-color;
}

.header-font--v-large {
  font-size: $v-large;

  @include screen--v-small {
    font-size: 3.5rem;
  }
}

.header-font--large {
  font-size: $large;

  @include screen--v-small {
    font-size: 2.5rem;
  }
}

.header-font--medium {
  font-size: $medium;
}

.header-font--small {
  font-size: $small;
}

.text-light {
  color: $secondary-color;
}

.text-accent {
  color: $primary-accent;
}
