.bar, .btn, .tile, .box, .gallery__container img {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.header--centered, .bar-wrapper, .tile, .bar-btn, .box, .nav-overlay, .gallery-overlay__container, .main-nav, .main-nav__list, .hero, .photobooth__container, .photobooth__text, .contact__tiles, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header--centered, .gallery-overlay__container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bar-wrapper, .gallery-overlay__container, .main-nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box, .nav-overlay, footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tile, .bar-btn, .box, .main-nav__hamburger, .photobooth__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.how-card__container.show .left, .how-card__container.show .right, .how-card__container.show .light-background {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.how-card__arrow, .gallery-overlay__close-btn, .gallery-overlay__btn, .main-nav__list-item a::after, .hero__text-content {
  position: absolute;
}

.line--left, .line--right, .how-card, .how-card__grid .left, .box:nth-child(1), .box:nth-child(2), .box:nth-child(3), .box:nth-child(4), .box:nth-child(5), .gallery-overlay__container, .main-nav__list-item a, .hero {
  position: relative;
}

.how-card__container.show .how-card__header, .box.active .box__header, .box.active .box__list, .box.active .box__button, .gallery-overlay.active.show, .main-nav__list.show, .main-nav__hamburger .hamburger-line-two {
  opacity: 1;
}

.how-card__header, .how-card__grid .left, .how-card__grid .right, .how-card__grid .light-background, .gallery-overlay, .main-nav__hamburger.active .hamburger-line-two {
  opacity: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

@media (max-width: 850px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .wrapper {
    max-width: 900px;
  }
}

.large-wrapper {
  max-width: 1500px;
}

.header--centered {
  width: 100%;
  padding: 0 4em;
}

.header--no-padding {
  padding: 0;
}

.section-padding {
  padding: 0 4em;
}

@media (max-width: 550px) {
  .section-padding {
    padding: 0 2em;
  }
}

.section-padding--around {
  padding: 14em 4em;
}

@media (max-width: 1250px) {
  .section-padding--around {
    padding: 10em 4em;
  }
}

@media (max-width: 550px) {
  .section-padding--around {
    padding: 8em 2em;
  }
}

.section-padding--vertical {
  padding: 14em 0;
}

@media (max-width: 1250px) {
  .section-padding--vertical {
    padding: 10em 0;
  }
}

@media (max-width: 550px) {
  .section-padding--vertical {
    padding: 8em 0;
  }
}

.paragraph-basic {
  color: rgba(39, 39, 39, 0.8);
  font-size: 1rem;
  line-height: 30px;
}

.paragraph-basic--medium {
  font-size: 1.25rem;
}

.header-font {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: black;
}

.header-font--v-large {
  font-size: 4rem;
}

@media (max-width: 850px) {
  .header-font--v-large {
    font-size: 3.7rem;
  }
}

@media (max-width: 450px) {
  .header-font--v-large {
    font-size: 3.5rem;
  }
}

.header-font--large {
  font-size: 3.5rem;
  margin-top: 0;
}

@media (max-width: 450px) {
  .header-font--large {
    font-size: 2.5rem;
  }
}

.header-font--medium {
  font-size: 1.25rem;
}

.header-font--small {
  font-size: 1rem;
}

.text-light {
  color: white;
}

.text-accent {
  color: #dac27c;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

.bar--how {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.bar--right {
  margin-left: auto;
}

.bar-wrapper {
  max-width: 1100px;
}

.btn {
  display: inline-block;
  padding: 0.6em 3em;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 30px #d8be74;
  box-shadow: 0px 0px 30px #d8be74;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn--dark {
  background: black;
}

.btn--dark:hover {
  background: #dac27c;
}

.btn--accent {
  background: #dac27c;
}

.btn--up {
  float: right;
  background: none;
  border: none;
  font-size: 2rem;
  color: #dac27c;
  cursor: pointer;
}

.btn--up .fas {
  -webkit-animation: moveArrow 1s ease-in-out infinite;
  animation: moveArrow 1s ease-in-out infinite;
}

@-webkit-keyframes moveArrow {
  0% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
}

@keyframes moveArrow {
  0% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
}

.line--left::after, .line--right::before {
  position: absolute;
  display: block;
  content: '';
  background: #dac27c;
  height: 3px;
  width: 2000px;
  top: 0.6em;
}

.line--left::after {
  right: 100%;
  margin-right: 15px;
}

.line--right::before {
  left: 100%;
  margin-left: 15px;
}

.tile {
  padding: 2em 1em;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.tile:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.tile__img {
  height: 75px;
  width: 75px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.tile__header {
  margin: 2em 0 0;
  text-align: center;
}

.bar-btn {
  padding: 1em 0;
  margin: auto;
}

@media (max-width: 550px) {
  .bar-btn {
    width: 50%;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.bar-btn.active > .bar-btn__icon {
  fill: #dac27c;
}

.bar-btn__paragraph {
  margin-bottom: 0;
}

.bar-btn__icon {
  height: 35px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.bar-btn:hover {
  cursor: pointer;
}

.bar-btn:hover > .bar-btn__icon {
  fill: #dac27c;
}

.how-card {
  background: url("./../img/pattern-grey-lg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5em 4em;
  margin-top: 3em;
}

@media (max-width: 550px) {
  .how-card {
    padding: 4em 2em;
  }
}

.how-card__container {
  display: none;
}

.how-card__container.active {
  display: block;
}

.how-card__container.show .how-card__header {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.how-card__arrow {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  display: block;
  height: 4em;
  width: 4em;
  background: rgba(39, 39, 39, 0.8);
  left: 210px;
  top: -2em;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
}

.how-card__header {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  text-align: center;
  margin-top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.how-card__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 2fr;
  -ms-grid-rows: 1fr 3fr auto;
      grid-template-rows: 1fr 3fr auto;
}

@media (max-width: 1250px) {
  .how-card__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(200px, 700px);
        grid-template-columns: minmax(200px, 700px);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-row-gap: 2em;
  }
}

.how-card__grid .left {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  z-index: 2;
  padding: 2em;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1250px) {
  .how-card__grid .left {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.how-card__grid .right {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: inline-block;
  z-index: 3;
  max-width: 500px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1250px) {
  .how-card__grid .right {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
  }
}

.how-card__grid .light-background {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  background: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  border-radius: 10px;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.how-card__grid .left,
.how-card__grid .right {
  border-radius: 10px;
}

.box {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
  padding: 3em 0;
}

@media (max-width: 1250px) {
  .box:last-child {
    margin-bottom: 0;
  }
}

.box__header {
  background: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#101010));
  background: linear-gradient(to bottom, #505050, #101010);
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 1250px) {
  .box__header {
    opacity: 1;
  }
}

.box__header h3 {
  margin: 0;
}

.box__header p {
  margin: 0;
}

.box__list {
  padding: 0;
  padding: 2em;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 1250px) {
  .box__list {
    opacity: 1;
  }
}

.box__list-item {
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  border-top: 2px solid #dac27c;
  text-align: center;
}

@media (max-width: 1250px) {
  .box__list-item {
    padding-top: 1em;
    margin-bottom: 1em;
  }
}

.box__list-item:first-child {
  margin-top: -1.5em;
  margin-bottom: 1em;
  border: none;
}

.box__list-item:last-child {
  border-bottom: 2px solid #dac27c;
  padding-bottom: 0.5em;
}

@media (max-width: 1250px) {
  .box__list-item:last-child {
    padding-bottom: 1em;
  }
}

.box__button {
  opacity: 0.8;
}

@media (max-width: 1250px) {
  .box__button {
    opacity: 1;
  }
}

.box:nth-child(1) {
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  z-index: 1;
}

@media (max-width: 1250px) {
  .box:nth-child(1) {
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-bottom: 4em;
  }
}

.box:nth-child(2) {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  z-index: 2;
}

@media (max-width: 1250px) {
  .box:nth-child(2) {
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-bottom: 4em;
  }
}

.box:nth-child(3) {
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  z-index: 3;
}

@media (max-width: 1250px) {
  .box:nth-child(3) {
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-bottom: 4em;
  }
}

.box:nth-child(4) {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  z-index: 2;
}

@media (max-width: 1250px) {
  .box:nth-child(4) {
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-bottom: 4em;
  }
}

.box:nth-child(5) {
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  z-index: 1;
}

@media (max-width: 1250px) {
  .box:nth-child(5) {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.box.active {
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 10;
}

.contact-tile {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  background: white;
  padding: 4em 3em;
  text-align: center;
  width: 480px;
  border-radius: 10px;
}

@media (max-width: 550px) {
  .contact-tile {
    width: 100%;
    padding: 4em 2em;
  }
}

.contact-tile__paragraph {
  margin: 2em 0;
}

.contact-tile__logo {
  height: 140px;
  width: 200px;
}

.contact-tile__icon {
  height: 86px;
  width: 86px;
}

@media (max-width: 1250px) {
  .contact-tile:last-child {
    margin-left: 0;
    margin-top: 2em;
  }
}

.contact-tile:last-child .contact-tile__paragraph:first-child {
  margin-top: 1em;
}

@media (max-width: 1250px) {
  .contact-tile:first-child {
    margin-right: 0;
  }
}

.contact-tile:first-child .contact-tile__paragraph:last-child {
  margin-bottom: 1em;
}

.contact-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 25% 25%;
      grid-template-columns: 50% 25% 25%;
  -ms-grid-rows: 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr;
  grid-row-gap: 2em;
}

@media (max-width: 850px) {
  .contact-form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.contact-form__mail {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 0 2em;
}

.contact-form__message {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 2em;
}

@media (max-width: 850px) {
  .contact-form__message {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.contact-form__btn {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  cursor: pointer;
}

@media (max-width: 850px) {
  .contact-form__btn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.contact-form__mail, .contact-form__message, .contact-form__btn {
  border: none;
}

.contact-form__mail, .contact-form__message {
  border-radius: 10px;
}

.nav-overlay {
  position: fixed;
  height: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  overflow-y: auto;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-overlay.active {
  height: 100%;
}

.gallery-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: rgba(39, 39, 39, 0.8);
  padding: 4em;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  overflow-y: auto;
}

@media (max-width: 850px) {
  .gallery-overlay {
    padding: 0;
  }
}

.gallery-overlay__container {
  width: 100%;
  min-height: 100%;
}

.gallery-overlay__photo {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.gallery-overlay__close-btn {
  top: 0.01em;
  right: 0.1em;
  border: none;
  font-size: 3rem;
  color: rgba(39, 39, 39, 0.8);
  padding: 0.3em;
  cursor: pointer;
  z-index: 99999;
  background: none;
}

.gallery-overlay__btn {
  font-size: 6rem;
  border: none;
  height: 100%;
  background: none;
  color: rgba(39, 39, 39, 0.8);
  margin: 0;
  padding: 0.3em;
  cursor: pointer;
  z-index: 9999;
}

.gallery-overlay__btn--prev {
  left: 0;
}

.gallery-overlay__btn--next {
  right: 0;
}

.gallery-overlay.active {
  display: block;
  z-index: 999;
}

.gallery-overlay.active.show {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.main-nav__hamburger .hamburger-line-one, .main-nav__hamburger .hamburger-line-three, .main-nav__hamburger.active .hamburger-line-one, .main-nav__hamburger.active .hamburger-line-three {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.main-nav {
  padding: 2em;
}

.main-nav__logo {
  margin-right: auto;
}

.main-nav__logo--no-text {
  display: none;
  margin-right: auto;
}

@media (max-width: 550px) {
  .main-nav__logo--no-text {
    display: block;
  }
}

@media (max-width: 550px) {
  .main-nav__logo {
    display: none;
  }
}

.main-nav__list-item {
  margin: 0 1.5em;
}

.main-nav__list-item a:hover::after {
  width: 100%;
}

.main-nav__list-item a::after {
  display: block;
  content: '';
  background: #dac27c;
  width: 0;
  height: 3px;
  top: 100%;
  left: 0;
  -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}

@media (max-width: 1250px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background: white;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.main-nav__list.show {
  height: 100%;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.main-nav__logo-hamburger {
  display: none;
  height: 85px;
}

@media (max-width: 1250px) {
  .main-nav__logo-hamburger {
    display: block;
  }
}

.main-nav__hamburger {
  height: 17px;
  cursor: pointer;
  display: none;
  z-index: 9999;
}

@media (max-width: 1250px) {
  .main-nav__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.main-nav__hamburger .hamburger-line {
  width: 35px;
  height: 3px;
  background: rgba(39, 39, 39, 0.8);
}

.main-nav__hamburger .hamburger-line-two {
  -webkit-transition: opacity 0.2s 0.2s ease-in-out;
  transition: opacity 0.2s 0.2s ease-in-out;
}

.main-nav__hamburger.active {
  position: fixed;
  right: 2em;
}

.main-nav__hamburger.active .hamburger-line-one {
  -webkit-transform: translateY(7px) rotateZ(135deg);
  transform: translateY(7px) rotateZ(135deg);
}

.main-nav__hamburger.active .hamburger-line-two {
  -webkit-transition: none;
  transition: none;
}

.main-nav__hamburger.active .hamburger-line-three {
  -webkit-transform: translateY(-7px) rotateZ(45deg);
  transform: translateY(-7px) rotateZ(45deg);
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(4em, 1fr) minmax(300px, 1100px) minmax(4em, 1fr);
      grid-template-columns: minmax(4em, 1fr) minmax(300px, 1100px) minmax(4em, 1fr);
  padding-top: 8em;
}

@media (max-width: 550px) {
  header {
    -ms-grid-columns: 2em 1fr 2em;
        grid-template-columns: 2em 1fr 2em;
    padding-top: 6em;
  }
}

.hero {
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero__text-content {
  z-index: 2;
  margin-top: 3em;
  width: 100%;
}

@media (max-width: 850px) {
  .hero__text-content {
    position: static;
    padding-bottom: 8em;
    padding-right: 4em;
  }
}

@media (max-width: 550px) {
  .hero__text-content {
    padding-bottom: 0;
    margin-top: 0;
    padding-right: 2em;
  }
}

.hero__img {
  margin-left: auto;
  margin-right: 4em;
  width: 670px;
  height: 520px;
  z-index: 1;
}

@media (max-width: 1520px) {
  .hero__img {
    opacity: 0.4;
  }
}

@media (max-width: 850px) {
  .hero__img {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.hero__header {
  margin-bottom: 0.2em;
}

@media (max-width: 550px) {
  .hero__header {
    margin-top: 0;
  }
}

.hero__buttons {
  margin-top: 2em;
}

.hero__buttons a:first-child {
  margin-right: 30px;
}

@media (max-width: 550px) {
  .hero__buttons a:first-child {
    margin: 0;
    margin-bottom: 1em;
  }
}

@media (max-width: 550px) {
  .hero__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2em;
  }
}

.photobooth__container {
  position: relative;
}

.photobooth__text {
  margin-left: 6em;
}

@media (max-width: 850px) {
  .photobooth__text {
    margin-left: 0;
  }
}

.photobooth__img {
  height: 640px;
  -webkit-animation: photobooth 10s infinite ease-in-out;
  animation: photobooth 10s infinite ease-in-out;
}

@media (max-width: 850px) {
  .photobooth__img {
    position: absolute;
    left: 0;
    height: 400px;
    opacity: 0.1;
  }
}

.photobooth__header {
  text-align: right;
}

.photobooth__paragraph {
  margin-bottom: 4em;
  text-align: justify;
}

.photobooth__button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
}

@-webkit-keyframes photobooth {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes photobooth {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.why__tiles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
}

@media (max-width: 1250px) {
  .why__tiles {
    width: 100%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-top: 4em;
  }
}

@media (max-width: 850px) {
  .why__tiles {
    width: 100%;
    max-width: 400px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
    margin-top: 4em;
  }
}

.how__bar-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(2em, 1fr) minmax(300px, 1100px) minmax(2em, 1fr);
      grid-template-columns: minmax(2em, 1fr) minmax(300px, 1100px) minmax(2em, 1fr);
  margin-top: 6em;
}

.how h2.line--right {
  text-align: right;
}

.offer {
  padding: 0 4em;
}

@media (max-width: 550px) {
  .offer {
    padding: 0 2em;
  }
}

.offer__boxes {
  margin-top: 4em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.5fr)[6];
      grid-template-columns: repeat(6, 0.5fr);
}

@media (max-width: 1250px) {
  .offer__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 500px;
  }
}

.gallery {
  text-align: center;
}

.gallery__container {
  margin: 4em auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 1em;
}

.gallery__container img {
  max-width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
  display: none;
}

.gallery__container img.visible {
  display: inline-block;
}

.gallery__container img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

@media (max-width: 1250px) {
  .gallery__container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .gallery__container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.gallery__button {
  display: inline-block;
  margin: 0 auto;
}

.contact {
  background: url("./../img/pattern-grey-lg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em 4em;
}

@media (max-width: 850px) {
  .contact {
    padding: 4em 2em;
  }
}

.contact__tiles {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 1250px) {
  .contact__tiles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.contact__form {
  padding-top: 4em;
}

footer {
  padding-top: 4em;
}

footer .footer__logo {
  width: 200px;
  height: 140px;
}
/*# sourceMappingURL=main.css.map */