%line {
  position: absolute;
  display: block;
  content: '';
  background: $primary-accent;
  height: 3px;
  width: 2000px;
  top: 0.6em;
}

.line--left {
  @extend %relative;

  &::after {
    @extend %line;

    right: 100%;
    margin-right: 15px;
  }
}

.line--right {
  @extend %relative;

  &::before {
    @extend %line;

    left: 100%;
    margin-left: 15px;
  }
}

// .vertical-line {
//   display: inline-block;
//   width: 3px;
//   height: 2em;
//   background: $primary-accent;
// }
