.box {
  @extend %shadow;
  @include transform(scale(0.7));
  @extend %flex;
  @extend %flex-justify-align;
  @extend %flex-column;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: $secondary-color;
  padding: 4em 0;

  @include screen--large {
    @include transform(scale(1));

    margin-bottom: 4em;
  }

  &:last-child {
    @include screen--large {
      margin-bottom: 0;
    }
  }

  &__header {
    background: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#101010));
    background: linear-gradient(to bottom, #505050, #101010);
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;

    @include screen--large {
      opacity: 1;
    }

    h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  &__list {
    padding: 0;
    padding: 2em;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;

    @include screen--large {
      opacity: 1;
    }
  }

  &__list-item {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    border-top: 3px solid $primary-accent;
    text-align: center;

    @include screen--large {
      padding-top: 1em;
      margin-bottom: 1em;
    }

    &:last-child {
      border-bottom: 3px solid $primary-accent;
      padding-bottom: 0.5em;

      @include screen--large {
        padding-bottom: 1em;
      }
    }
  }

  &__button {
    opacity: 0.8;

    @include screen--large {
      opacity: 1;
    }
  }

  &:nth-child(1) {
    @extend %relative;

    grid-column: 1/4;
    grid-row: 1/2;
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }

  &:nth-child(2) {
    @extend %relative;
    @include transform(scale(0.8));

    grid-column: 3/6;
    grid-row: 1/2;
    z-index: 2;

    @include screen--large {
      @include transform(scale(1));
    }
  }

  &:nth-child(3) {
    @extend %relative;

    grid-column: 5/8;
    grid-row: 1/2;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: 1;
  }

  &.active {
    @include transform(scale(1));

    z-index: 10;

    .box__header {
      @extend %full-opacity;
    }

    .box__list {
      @extend %full-opacity;
    }

    .box__button {
      @extend %full-opacity;
    }
  }
}
