.contact {
  background: url('./../img/pattern-grey-lg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em;

  &__tiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 4em auto;

    @include screen--large {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  &__form {
    padding-top: 4em;
  }
}
