.gallery {
  text-align: center;

  &__container {
    margin: 4em auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;

    img {
      @extend %shadow;

      max-width: 100%;
      -webkit-transition: -webkit-transform 0.3s ease-in-out;
      transition: -webkit-transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
      cursor: pointer;
      display: none;

      &.visible {
        display: inline-block;
      }

      &:hover {
        @include transform(scale(1.03));
      }
    }

    @include screen--large {
      grid-template-columns: auto auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    @include screen--medium {
      grid-template-columns: auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  &__button {
    display: inline-block;
    margin: 0 auto;
  }
}
