.hero {
  @extend %relative;
  @extend %flex;

  width: 100%;
  grid-column: 2/4;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  // @include screen--large {
  //   grid-column: 1/4;
  //   -webkit-box-pack: center;
  //       -ms-flex-pack: center;
  //           justify-content: center;
  // }

  &__text-content {
    @extend %absolute;

    //max-width: 600px;
    z-index: 2;
    margin-top: 3em;
    width: 100%;

    // @include screen--large {
    //   max-width: 700px;
    // }

    @include screen--medium {
      position: static;
      padding-bottom: 8em;
      padding-right: 4em;
    }

    @include screen--small {
      padding-bottom: 0;
      margin-top: 0;
      padding-right: 2em;
    }
    //   p {
    //     max-width: 500px;
    //   }
    // }

    // @include screen--small {
    //   padding: 5em 2em 7em 0;

    //   h1 {
    //     margin-top: 0;
    //   }
    // }

    // @include screen--v-small {
    //   text-align: center;
    // }
  }

  &__img {
    margin-left: auto;
    margin-right: 4em;
    width: 670px;
    height: 520px;
    z-index: 1;

    @include screen--v-large {
      opacity: 0.4;
    }

    @include screen--medium {
      position: absolute;
      width: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  &__header {
    margin-bottom: 0.2em;

    @include screen--small {
      margin-top: 0;
    }
  }

  &__buttons {
    margin-top: 2em;
    a:first-child {
      margin-right: 30px;

      @include screen--small {
        margin: 0;
        margin-bottom: 1em;
      }
    }

    @include screen--small {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 2em;
    }
  }
}
