.how {
  &__bar-grid {
    display: grid;
    grid-template-columns: minmax(2em, 1fr) minmax(300px, 1100px) minmax(
        2em,
        1fr
      );
    margin-top: 6em;
    // @include screen--medium {
    // grid-template-columns: 1fr minmax(300px, 1100px) minmax(2em, 1fr);
    // }
  }
  h2.line--right {
    text-align: right;
  }
}
