.main-nav {
  @extend %flex;
  @extend %flex-align;

  padding: 2em 4em;

  @include screen--small {
    padding: 2em;
  }

  &__logo {
    margin-right: auto;

    @include screen--small {
      width: 200px;
    }
  }

  &__list {
    @extend %flex;

    &-item {
      margin: 0 2.5em;

      a {
        @extend %relative;

        &:hover::after {
          width: 100%;
        }

        &::after {
          @extend %absolute;

          display: block;
          content: '';
          background: $primary-accent;
          width: 0;
          height: 3px;
          top: 100%;
          left: 0;
          -webkit-transition: width 0.2s ease-in-out;
          transition: width 0.2s ease-in-out;
        }
      }
    }

    @include screen--large {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      height: 0;
      background: $secondary-color;
      z-index: 10;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      font-size: 4rem;
      margin: 0;
      padding: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
      transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    &.active {
      @extend %flex;
      min-height: 430px;

      .main-nav__logo-hamburger {
        display: block;
      }

      &.show {
        @extend %full-opacity;

        height: 100%;
        -webkit-transition: height 0.3s ease-in-out, opacity 0.2s ease-in-out;
        transition: height 0.3s ease-in-out, opacity 0.2s ease-in-out;

        .main-nav__logo-hamburger {
          @extend %full-opacity;
        }
      }
    }
  }

  &__logo-hamburger {
    @extend %no-opacity;

    display: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }

  &__hamburger {
    @extend %flex-column;

    height: 17px;
    cursor: pointer;
    display: none;
    z-index: 9999;

    @include screen--large {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    .hamburger-line {
      width: 35px;
      height: 3px;
      background: $primary-color;

      &-one {
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out,
          -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out,
          -webkit-transform 0.3s ease-in-out;
      }

      &-two {
        @extend %full-opacity;

        -webkit-transition: opacity 0.2s 0.2s ease-in-out;
        transition: opacity 0.2s 0.2s ease-in-out;
      }

      &-three {
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out,
          -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out,
          -webkit-transform 0.3s ease-in-out;
      }
    }

    &.active {
      .hamburger-line {
        &-one {
          @include transform(translateY(7px) rotateZ(135deg));

          -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out,
            -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out,
            -webkit-transform 0.3s ease-in-out;
        }

        &-two {
          @extend %no-opacity;

          -webkit-transition: none;
          transition: none;
        }

        &-three {
          @include transform(translateY(-7px) rotateZ(45deg));

          -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out,
            -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out,
            -webkit-transform 0.3s ease-in-out;
        }
      }
    }
  }
}
