.offer {
  padding: 0 4em;

  @include screen--small {
    padding: 0 2em;
  }

  // h2 {
  //   @include screen--small {
  //     text-align: center;
  //   }
  // }

  &__boxes {
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(6, 0.5fr);

    @include screen--large {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      max-width: 500px;
    }
  }
}
