.why {
  &__tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;

    @include screen--large {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      margin-top: 4em;
    }

    @include screen--medium {
      width: 100%;
      max-width: 400px;
      grid-template-columns: 1fr;
      margin: 0 auto;
      margin-top: 4em;
    }
  }
}
